*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    height: 500px;
    color: rgb(95, 95, 95);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: inherit;
    background-color: rgb(245, 245, 245);
}

.container{
    width: 1349px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

p{
    font-size: 14px;
}

.header{
    display: flex;
    height: 70px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 143, 161);
    align-items: center;
    justify-content: center;
}

.header .log{
    width: 200px;
    height: 45px;
    margin-left: 15px;
    margin-right: 150px;
    padding-right: 40px;
}

.log img{
    width: 100%;
    height: 100%;
    margin-top: -2px;
}

nav{
    margin-left: -60px;
}

.header nav ul li{
    font-size: 13px;
    color: rgb(255, 255, 255);
    padding: 15px 17px;
    margin-top: -1px;
    display: inline-block;
    transition: .5s;
}

.header nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.5);;
    cursor: pointer;
}

.header nav ul li a{
    color: white;
}

.submenu{
    display: none;
}

nav ul li:hover .submenu{
    background-color: rgba(0, 140, 158, 0.582);
    margin-top: 15px;
    margin-left: -17px;
    display: block;
    position: absolute;
}

nav ul li:hover .submenu ul li{
    width: 180px;
    text-align: left;
    padding: 10px 17px;
    margin: 10px;
    border-bottom: 1px solid rgb(121, 121, 121);
    display: block;
    transition: .5s;
}

nav ul li:hover .submenu ul li:hover{
    background-color: rgba(255, 255, 255, 0.5);;
}

.header-right {
    margin-left: 150px;
    float: right;
    transition: .5s;
}
  
.header-right{
    margin-right: 3px;
    display: block;
}

.header-right a{
    font-size: 14px;
    line-height: 65px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 27px;
    transition: 0.5s;
}

.header-right a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.slider{
    height: 500px;
    background-image: url(glagah.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: slide 30s infinite;
}

@keyframes slide{
    16%{
        background-image: url(glagah.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    32%{
        background-image: url(srm.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px -200px;
    }  

    48%{
        background-image: url(mangrove\ api.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }  

    64%{
        background-image: url(sendang.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    80%{
        background-image: url(kamal.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    100%{
        background-image: url(congot.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px -200px;
    }
}
  
.teks-h{
    height: 250px;
    width: 1230;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 148px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.teks-h h1{
    font-size: 50px;
    margin-bottom: 15px;
    margin-top: 140px;
    transition: .5s;
}

.teks-h span{
    background-color: rgba(0, 0, 0, 0.25);
    color: rgb(255, 255, 255);
    padding: 5px;
}

.teks-2{
    height: 80px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    background-color: rgba(0, 142, 161, 0.39);
    display: flex;
    justify-content: left;
    padding: 10px;
}

.teks-2 .teks{
    width: 650px;
    margin-right: 85px;
    margin-left: 25px;
    float: left;
}

.teks-2 a{
    width: 100px;
    padding: 10px;
    color: white;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
}

.teks-2 a:hover{
    transition: .5s;
    color: rgb(49, 49, 49);
    background-color: rgb(255, 255, 255);
}

.content{
    width: 1150px;
    margin: 30px auto;
    margin-bottom: 30px;
}

.content p{
    line-height: 18px;
    margin: 15px;
}

.content .judul{
    line-height: 18px;
    text-align: center;
    margin: 10px;
}

.content .heading h1{
    width: auto;
    color: rgb(95, 95, 95);
    text-align: center;
    margin: 5px auto;
}

.content .galeri{
    width: 351px;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    border-radius: 10px;
    float: left;
    transition: ease-out .5s;
}

.content iframe{
    margin: 5px 300px;
    border-radius: 10px;
}

.content .galeri img{
    width: 351px;
    height: 180px;
    margin: 0px auto;
    border-radius: 10px;
}

.content .galeri a:hover{
    color: rgb(0, 143, 161);
}

.des{
    text-align: left;
    color: rgb(95, 95, 95);
    padding: 5px;
}

.des a{
    font-size: 16px;
    font-weight: bold;
    color: rgb(95, 95, 95);
}
.content .my_galeri .galeri{
    transition: ease-out .5s;
} 

.content .my_galeri img{
    border-radius: 0px;
}

.des p{
    font-size: 12px;
    margin: 0px;
}

.content .spoiler{
    float: left;
}

.timeline{
    width: 752px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px 0px;
    border: 1px solid rgb(240, 240, 240);
    border-left: 3px solid rgb(32, 137, 178);
    border-radius: 10px;
}

.timeline img{
    width: 300px;
    height: 150px;
    border-radius: 10px;
    float: left;
}

.ringkas{
    width: 435px;
    height: 110px;
    margin: 0px 0px 15px 315px;
}

.ringkas .penulis{
    font-size: 11px;
}

.ringkas p{
    margin: 0px;
    padding: 0px;
}

.timeline a{
    font-size: 14px;
    color: white;
    background-color: rgb(32, 137, 178);
    padding: 5px;
    margin-left: 15px;
    border-radius: 5px;
}

.timeline a:hover{
    color: white;
    background-color: rgb(255, 196, 0);
}

.artikel{
    width: 752px;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px 0px;
    border: 1px solid rgb(240, 240, 240);
    border-left: 3px solid rgb(32, 137, 178);
    border-radius: 10px;
    float: left;
}

.artikel img{
    width: 100%;
    height: 400px;
    margin: auto;
    border-radius: 10px;
}

#categ{
    padding-left: 5px;
    border-left: 3px solid rgb(32, 137, 178); 
}

.isi h2{
    padding-left: 5px;
    margin-top: 15px;
    border-left: 3px solid rgb(32, 137, 178);
}

.isi h3, h4{
    padding-left: 15px;
}

.konten .isi{
    margin: 0px;
    padding: 10px;
    border-bottom: 3px solid rgb(32, 137, 178);
}

.isi .penulis{
    margin: 0px;
    font-size: 11px;
    padding: 0px;
    padding-left: 10px;
}

.konten iframe{
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.content .komen{
    width: 250px;
    padding: 10px;
    margin: 15px;
    margin-right: 100px;
    float: left;
}

.komen #su{
    width: 250px;
    height: 30px;
    text-indent: 10px;
    background-color: rgb(236, 236, 236);
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.komen textarea{
    font-size: 14px;
    background-color: rgb(236, 236, 236);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.komen #btn{
    width: 120px;
    height: 30px;
    color: white;
    background-color: rgb(0, 95, 133);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.komen #btn:hover{
    background-color: rgb(255, 196, 0);
    transition: .5s;
}


.content .sidebar{
    width: 340px;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px 0px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
    float: right;
    box-sizing: border-box;
}

.sidebar h2{
    height: 30px;
    padding-left: 5px;
    margin-bottom: 10px;
    border-left: 3px solid rgb(32, 137, 178);
}

.sidebar .side{
    height: auto;
    padding: 5px;
    margin-bottom: 5px;
    border-top: 1px solid rgb(95, 95, 95) ;
    box-sizing: border-box;
}

.sidebar .side img{
    width: 290px;
    height: 150px;
    padding-top: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.sidebar .side p{
    font-size: 11px;
    margin: 0px;
}

.sidebar .side a{
    font-size: 16px;
    font-weight: bold;
    color: rgb(95, 95, 95);
    text-decoration: none;
}

.side a:hover{
    color: rgb(58, 58, 58);
}

.cause{
    width: 1150px;
    padding: 5px;
    margin: 15px auto;
    margin-top: 40px;
}

.cause1{
    width: 750px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 10px;
}

.cause2{
    width: 1125px;
    margin: 0px 55px;
    line-height: 18px;
}

.cause2 .icon{
    width: 250px;
    height: 225px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border: 2px solid rgba(95, 95, 95, 0);
    float: left;
    box-sizing: border-box;
}

.cause .icon:hover{
    color: black;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
}

.icon img{
    width: 80px;
    height: 80px;
    transition: .5s;
    height: .5s;
    transform: .5s;
    text-overflow: hide;
    margin-bottom: 15px;
}

.icon img:hover{
    transform: rotate(360deg);
}

.h{
    letter-spacing: 5px;
    margin-left: 15px;
}

.content .kontak{
    text-align: center;
}

.kontak h2{
    margin-top: 15px;
}

.kontak p{
    width: 700px;
    margin: 0px auto;
    margin-bottom: 15px;
}

.kontak .advice input{
    height: 30px;
    text-align: center;
    background-color: rgb(236, 236, 236);
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.kontak .advice #btn{
    width: 180px;
    height: 30px;
    color: white;
    background-color: rgb(0, 95, 133);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.kontak .advice img{
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin: auto 15px;
    transition: ease-out .5s;
}

.kontak #btn:hover{
    background-color: rgb(255, 196, 0);
    transition: .5s;
}

.kontak textarea{
    font-size: 14px;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.footer{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 143, 161);
    padding: 50px;
    box-sizing: border-box;
}

.footer .kategori{
    width: 180px;
    margin: 15px;
    margin-right: 100px;
    float: left;
}

.kategori ul{
    list-style: none;
}

.kategori ul li{
    font-size: 13px;
    display: block;
    margin: 15px 0px;
    text-align: left;
}
.kategori ul li a{
    color: white;
}
.footer .tentang{
    width: 240px;
    height: auto;
    text-align: justify;
    line-height: 18px;
    margin: 15px;
    float: left;
}

.footer .subs{
    width: 250px;
    margin: 15px;
    margin-right: 100px;
    float: left;
}

.subs #su{
    width: 250px;
    height: 30px;
    text-indent: 10px;
    background-color: white;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.subs #btn{
    width: 180px;
    height: 30px;
    color: white;
    background-color: rgb(0, 95, 133);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subs #btn:hover{
    background-color: rgb(255, 196, 0);
    transition: .5s;
}

.footer p{
    margin: 15px 0px;
}

.footer .informasi{
    width: auto;
}

.copy{
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    padding-top: 30px;
    margin-top: 10px;
    border-top: 1px solid white;
}

.copy a{
    color: white;
    text-decoration: none;
}

.cf:before,.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}